body{
    background-color: #FEFBE7;
  }
  hr{
background-color: #FEFBE7;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 5%;
    border-color: grey;
    border-width: 5px;
  }
  h1{
    color: purple;

  }
  h3{
    color:purple;
  }
